{% load staticfiles %}

<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left">
	</div>
	<a class="uk-navbar-item uk-logo" href="#"><img src={% static 'img/devops-process.png' %} height="80" width="80"></a>
	<p class="uk-text-large uk-text-lead">DevOps Wiki</p>
        <div class="uk-navbar-center-right"></div>

    </div>
</nav>
