{% load staticfiles %}
<div class="sidebar">
    <div class="logo">
        <a href="/"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
    </div>
    <div class="navigation">
        <h3>Wiki List</h3>
        <ul>
            {% if 'wiki'|sidebar|len != 0 %}
                {% for i in 'site'|sidebar %}
                <li><a href="{% url 'core:wiki' i.id %}">{{i.title}}</a></li>
                {% endfor %}
            {% else %}
            <li><a href="#">No Wiki Yet</a></li>
            {% endif %}
        </ul>
    </div>
</div>