{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block title %}ING DEVOPS - CF GUILD WIKI AND MORES{% endblock %}

{% block content %}

<div class ="uk-container">

<form class="uk-search uk-search-large">
    <span uk-search-icon></span>
    <input class="uk-search-input" type="search" placeholder="Search...">

</form>

{% for link in allLinks %}
	<h4 class="uk-heading-bullet">{{ link.title }}</h4>
	<a class="uk-link-text" href="{{ link.link}}">{{ link.link }}</a>
{% endfor %}
</div>

{% endblock %}
