{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block title %}ING DEVOPS - CF GUILD WIKI AND MORE{% endblock %}

{% block content %}
<div class="article">
    <h1>{{item.title}}</h1>
    <p class="siteSub">Published on {{item.added_at}} and Last Updated on {{item.updated_at}}</p>

    {{item.body|safe}}
</div>
{% endblock %}