<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="generator" content="Codeply">
    <meta name="author" content="CF GUILD / ING DEVOPS">
    <meta property="og:site_name" content="DEVOPS TOOLS" />

    <!-- Less styles -->
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />

    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    {% block styles %}{% endblock %}
</head>
<body>
	{% include 'layouts/includes/header.html' %}

        {% block content %}
            {{ block.super }}
            Welcome
        {% endblock %}
        <!-- The javascript
        ================================================== -->
        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
        {% block scripts %}{% endblock %}
</body>
</html>
